babel==2.17.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.2
idna==3.10
iniconfig==2.3.0
packaging==25.0
pillow==11.1.0
pluggy==1.6.0
pyasn1==0.6.1
pycparser==2.22
Pygments==2.19.2
pytest==9.0.1
qrcode==8.0
requests==2.32.3
rsa==4.9
tk==0.1.0
tkcalendar==1.6.1
urllib3==2.3.0
